
body{
  /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(ii.jpg); */
  background-color: darkslategrey;
    color: white;
    background-attachment:fixed ;
    background-position: center;
}
.welcome{
  background-color:cadetblue;
  max-width: 700px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0px 5rem 0px 5rem;
}
.blogtitle{
  margin: 0;
  background-color: teal;
  padding: 10px;
  font-size: 30px;
  border-radius: 16px;
}
.head{
  margin:1rem auto;
  text-align: center;
  font-size: 2rem;
}
.Blog-List{
  margin-bottom: 3rem;
  background-color: cadetblue;
  padding: 1rem;
  }
.myBlogs{
  margin: 3rem auto;
  text-align: left;
  padding: 1rem;
  max-width: 500px;
}
.blogPreview{
  padding: 3px;
  max-width: 350px;
  margin: 5px;
}
.blogPreview:hover{
  background-color:teal;
}
button{
  background-color: teal;
  color:white;
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
}
button:hover{
  background-color:red;
}